<!-- <script defer src="/static/js/signin.js"></script> -->

<div class="container">
  <h1 class="mt-5 text-center">Por Mil</h1>
  <div class="row justify-content-center">
    <div class="mt-5 col-md-6">
      <div class="mt-5 card">
        <div class="card-body">
          <h2 class="card-title text-center">Recuperar senha</h2>
          <form name="forgotPassword" onsubmit="forgotPassword">
            <div class="form-group">
              <label for="email">Email</label>
              <input autocomplete="false" type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password">Insira a nova senha</label>
              <input autocomplete="false" type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password2">Confirme a nova senha</label>
              <input autocomplete="false" type="password" id="password2" name="password2" class="form-control" required>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <button type="submit" class="btn btn-primary btn-block mt-3">Enviar</button>
              <a href="/entrar">Voltar para login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.forms["forgotPassword"].addEventListener('submit', forgotPassword);
  /** 
   * @param {SubmitEvent} event   
   */
  async function forgotPassword(event) {
    event.preventDefault();

    const email = document.querySelector('#email').value;
    const password = document.querySelector('#password').value;
    const password2 = document.querySelector('#password2').value;

    if (password !== password2) {
      return Toastify({
        text: 'As senhas não são iguais',
        duration: 3000,
        close: true,
        gravity: 'top',
        position: 'right',
        backgroundColor: '#DD0000',
      }).showToast();
    }

    const data = {
      password: password
    };

    fetch(`${env.API_URL}/auth/forgot-password/${email}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
      .then(response => {
        if (response.status == 200) {
          Toastify({
            text: 'Senha alterada com sucesso',
            duration: 3000,
            close: true,
            gravity: 'top',
            position: 'right',
            backgroundColor: '#00b09b',
          }).showToast();

          setTimeout(() => {
            window.location.href = '/';
          }, 3000);
        } else {
          let message = ''
          switch (response.status) {
            case 404:
              message = 'Email não encontrado'
              break;
            default:
              message = 'Falha ao tentar alterar a senha'
              break;
          }

          Toastify({
            text: message,
            duration: 3000,
            close: true,
            gravity: 'top',
            position: 'right',
            backgroundColor: '#ff0000',
          }).showToast();
        }

      })
  };

</script>