<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../partial/head', { title }) %>
</head>

<body class="p-0 m-0">
  
  <main class="p-0 flex flex-col"><%- include('../page/' + page ) %></main>
  <%- include('../partial/postScripts',{backendMessage}) %>
</body>

</html>