<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Composição</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body>
  <%- include('../partial/navbar') %>
    <div class="container">
      <a href="/composition" class="btn btn-secondary">Voltar</a>
      <h1>Criando dados do composição</h1>

      <form>
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" disabled class="form-control" value="<%= id %>">
          <input type="hidden" class="form-control" name="id" value="<%= id %>" id="id">
        </div>

        <div class="form-group">
          <label for="code">Código</label>
          <input type="text" class="form-control" id="code" placeholder="Insira um código">
        </div>

        <div class="form-group">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" placeholder="Insira uma descrição">
        </div>

        <div class="form-group">
          <label for="unit">Unidade</label>
          <input type="text" class="form-control" id="unit" placeholder="Insira a unidade">
        </div>

        <div class="form-group">
          <label for="costCondition">Condição de preço</label>
          <input type="text" class="form-control" id="costCondition" placeholder="Insira a condição de preço"
            placeholder="Insira a condição">
        </div>

        <div id="box"></div>
        <button type="menu" class="btn btn-success" onclick="addItem()">+ Adicionar Item</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
    <template id="compositionItemTemplate">
      <div class="form-group d-flex" style="gap: 8px">
        <div class="form-group">
          <label for="code">Código</label>
          <input type="text" class="form-control" id="code" placeholder="Insira um código">
        </div>

        <div class="form-group">
          <label for="type">type</label>
          <input type="text" class="form-control" id="type" placeholder="Insira um tipo">
        </div>

        <div class="form-group">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" placeholder="Insira uma descrição">
        </div>

        <div class="form-group">
          <label for="unit">Unidade</label>
          <input type="text" class="form-control" id="unit" placeholder="Insira uma unidade">
        </div>
        <div class="form-group">
          <label for="price">Preço</label>
          <input type="text" class="form-control" id="price" placeholder="Insira um preço">
        </div>
        <div class="form-group">
          <label for="pendencies">Pendencia</label>
          <input type="text" class="form-control" id="pendencies" placeholder="Insira uma pendencia">
        </div>
        <button onclick="removeItem(this)" type="menu" class="btn btn-danger remove">-</button>
      </div>
    </template>
    <script src="/js/notifier.js"></script>
    <script>
      const form = document.querySelector('form');
      form.addEventListener('submit', function (event) {
        event.preventDefault();
        if (event.submitter.getAttribute('type') === 'menu') return
        const data = {};
        data._id = document.querySelector('#id').value;
        data.code = document.querySelector('#code').value;
        data.database = "PORMIL";
        data.description = document.querySelector('#description').value;
        data.unit = document.querySelector('#unit').value;
        data.costCondition = document.querySelector('#costCondition').value;
        data.children = []

        for (let item of document.querySelectorAll('#box > div')) {
          const temp = {};
          for (let subItem of item.children) {
            if (subItem.classList.contains('form-group')) {
              temp[subItem.children[1].id] = subItem.children[1].value
            }
          }
          data.children.push(temp)
        }


        fetch(`/composition/create`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
          .then(async (response) => {
            const { message } = await response.json();
            if (response.status == 200) {
              Notifier.Success(message).showToast();
              setTimeout(() => {
                window.location.href = '/composition';
              }, 3000);
            } else {
              Notifier.Error(message).showToast();
            }
          })
      });

      function addItem() {
        const clone = document.querySelector("#compositionItemTemplate").content.cloneNode(true);
        document.querySelector('#box').appendChild(clone);
        document.querySelector('#box').querySelector('#_id').value = ObjectId()
      }

      function removeItem() {
        event.target.parentElement.remove()
      }
    </script>
</body>

</html>